@import url("./style.css");

/* UI changer from light to dark and from dark to light */
/* UI theme chagner section */

.dark{
    background: #000;
    color: white;
}

.changeUI{
    width: 10px;
    height: 30px;
    border-radius: 50%;
}

.darkModeEnabled{
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    width: 50px;
    border: none;
    outline: none;

}

.darkModeEnabled:hover{
    border: 2px white solid;
}

.lightModeEnabled{
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    width: 50px;
    border: none;

}

.lightModeEnabled:hover{
    border: 2px black solid;
}

/* Uniqe class name is required here  */
.WajidKorkanihasMadeThisThingPosibileSoYouCanUseThisInYourOwnProjectsByAddingOneClassInaButtonUsingStylerCSSMadeInPakistanAndThisClassIsForDarkModeHappyCoding{
    min-width: 100px;
    min-height: 30px;
    background-color: #000;
    color: white;
    border-radius: 10px;
    border: 1px white solid;
    outline: none;
}

.WajidKorkanihasMadeThisThingPosibileSoYouCanUseThisInYourOwnProjectsByAddingOneClassInaButtonUsingStylerCSSMadeInPakistanAndThisClassIsForDarkModeHappyCoding:hover{
    background-color: white;
    color: black;
}


.WajidKorkanihasMadeThisThingPosibileSoYouCanUseThisInYourOwnProjectsByAddingOneClassInaButtonUsingStylerCSSMadeInPakistanAndThisClassIsForLightModeHappyCoding{
    min-width: 100px;
    min-height: 30px;
    background-color: white;
    color: #000;
    border-radius: 10px;
    border: 1px #000 solid;
    outline: none;
}

.WajidKorkanihasMadeThisThingPosibileSoYouCanUseThisInYourOwnProjectsByAddingOneClassInaButtonUsingStylerCSSMadeInPakistanAndThisClassIsForLightModeHappyCoding:hover{
    background-color: black;
    color: white;
}





/* Text Colors */
.text-red {
    color: red;
}

.text-yellow {
    color: yellow;
}

.text-green {
    color: green;
}

.text-blue {
    color: blue;
}

.text-black {
    color: black;
}

.text-gray {
    color: gray;
}

.text-white {
    color: white;
}

.text-dark-blue {
    color: darkblue;
}

.text-dark-green {
    color: darkgreen;
}

.text-dark-yellow {
    color: darkgoldenrod;
}

.text-orange {
    color: orange;
}

.text-orange-red {
    color: orangered;
}

.text-dark-red {
    color: darkred;
}

.text-light-red {
    color: lightcoral;
}

.text-dark-orange {
    color: darkorange;
}

.text-light-orange {
    color: lightcoral;
}

.text-dark-yellow {
    color: darkgoldenrod;
}

.text-light-yellow {
    color: lightyellow;
}

.text-dark-green {
    color: darkgreen;
}

.text-light-green {
    color: lightgreen;
}

.text-dark-blue {
    color: darkblue;
}

.text-light-blue {
    color: lightblue;
}

.text-dark-purple {
    color: darkviolet;
}

.text-light-purple {
    color: lavender;
}

.text-dark-pink {
    color: darkmagenta;
}

.text-light-pink {
    color: lightpink;
}

.text-dark-brown {
    color: saddlebrown;
}

.text-light-brown {
    color: burlywood;
}

.text-dark-black {
    color: black;
}

.text-light-black {
    color: dimgray;
}

.text-dark-white {
    color: #f5f5f5;
}

.text-light-white {
    color: whitesmoke;
}

.text-dark-gray {
    color: darkgray;
}

.text-light-gray {
    color: lightgray;
}

.text-dark-cyan {
    color: darkcyan;
}

.text-light-cyan {
    color: lightcyan;
}

.text-dark-magenta {
    color: darkmagenta;
}

.text-light-magenta {
    color: magenta;
}

.text-dark-indigo {
    color: indigo;
}

.text-light-indigo {
    color: mediumslateblue;
}

.text-dark-turquoise {
    color: darkturquoise;
}

.text-light-turquoise {
    color: aquamarine;
}

.text-dark-lavender {
    color: darkviolet;
}

.text-light-lavender {
    color: lavender;
}

.text-dark-maroon {
    color: maroon;
}

.text-light-maroon {
    color: brown;
}

.text-dark-coral {
    color: coral;
}

.text-light-coral {
    color: lightcoral;
}

.text-dark-gold {
    color: goldenrod;
}

.text-light-gold {
    color: gold;
}

.text-dark-silver {
    color: silver;
}

.text-light-silver {
    color: lightgrey;
}

.text-dark-olive {
    color: olive;
}

.text-light-olive {
    color: olivedrab;
}

.text-dark-teal {
    color: darkcyan;
}

.text-light-teal {
    color: darkcyan;
}

.text-dark-violet {
    color: darkviolet;
}

.text-light-violet {
    color: violet;
}

.text-dark-peach {
    color: peachpuff;
}

.text-light-peach {
    color: peachpuff;
}

.text-dark-slate {
    color: slategrey;
}

.text-light-slate {
    color: lightslategray;
}

.text-dark-burgundy {
    color: #800020;
}

.text-light-burgundy {
    color: #800020;
}

.text-dark-beige {
    color: beige;
}

.text-light-beige {
    color: beige;
}

.text-dark-mauve {
    color: #b784a7;
}

.text-light-mauve {
    color: #b784a7;
}

.text-dark-ivory {
    color: ivory;
}

.text-light-ivory {
    color: ivory;
}

.text-dark-charcoal {
    color: #36454f;
}

.text-light-charcoal {
    color: #36454f;
}

.text-dark-crimson {
    color: crimson;
}

.text-light-crimson {
    color: crimson;
}

.text-dark-azure {
    color: azure;
}

.text-light-azure {
    color: azure;
}

.text-dark-emerald {
    color: #50c878;
}

.text-light-emerald {
    color: #50c878;
}

.text-dark-ruby {
    color: #e0115f;
}

.text-light-ruby {
    color: #e0115f;
}

.text-dark-sapphire {
    color: #0f52ba;
}

.text-light-sapphire {
    color: #0f52ba;
}

.text-dark-lemon {
    color: lemonchiffon;
}

.text-light-lemon {
    color: lemonchiffon;
}

.text-dark-orchid {
    color: darkorchid;
}

.text-light-orchid {
    color: orchid;
}

.text-dark-tan {
    color: tan;
}

.text-light-tan {
    color: tan;
}

.text-dark-aquamarine {
    color: aquamarine;
}

.text-light-aquamarine {
    color: aquamarine;
}

.text-dark-chartreuse {
    color: chartreuse;
}

.text-light-chartreuse {
    color: chartreuse;
}

.text-dark-fuchsia {
    color: fuchsia;
}

.text-light-fuchsia {
    color: fuchsia;
}

.text-dark-periwinkle {
    color: #ccccff;
}

.text-light-periwinkle {
    color: #ccccff;
}

.text-dark-tangerine {
    color: #f28500;
}

.text-light-tangerine {
    color: #f28500;
}

.text-dark-rose {
    color: #ff007f;
}

.text-light-rose {
    color: #ff007f;
}

.text-dark-mint {
    color: #98ff98;
}

.text-light-mint {
    color: #98ff98;
}

.text-dark-lilac {
    color: #c8a2c8;
}

.text-light-lilac {
    color: #c8a2c8;
}

.text-dark-amber {
    color: #ffbf00;
}

.text-light-amber {
    color: #ffbf00;
}

.text-dark-apricot {
    color: #fbceb1;
}

.text-light-apricot {
    color: #fbceb1;
}

.text-dark-rust {
    color: #b7410e;
}

.text-light-rust {
    color: #b7410e;
}

.text-dark-mahogany {
    color: #c04000;
}

.text-light-mahogany {
    color: #c04000;
}

.text-dark-mustard {
    color: #ffdb58;
}

.text-light-mustard {
    color: #ffdb58;
}

.text-dark-celadon {
    color: #ace1af;
}

.text-light-celadon {
    color: #ace1af;
}

.text-dark-salmon {
    color: #fa8072;
}

.text-light-salmon {
    color: #fa8072;
}

.text-dark-pearl {
    color: #eae0c8;
}

.text-light-pearl {
    color: #eae0c8;
}

/* Background Colors */
.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}

.bg-dark-blue {
    background-color: darkblue;
}

.bg-dark-green {
    background-color: darkgreen;
}

.bg-dark-yellow {
    background-color: darkgoldenrod;
}

.bg-orange {
    background-color: orange;
}

.bg-orange-red {
    background-color: orangered;
}

.bg-dark-red {
    background-color: darkred;
}

.bg-light-red {
    background-color: lightcoral;
}

.bg-dark-orange {
    background-color: darkorange;
}

.bg-light-orange {
    background-color: lightcoral;
}

.bg-dark-yellow {
    background-color: darkgoldenrod;
}

.bg-light-yellow {
    background-color: lightyellow;
}

.bg-dark-green {
    background-color: darkgreen;
}

.bg-light-green {
    background-color: lightgreen;
}

.bg-dark-blue {
    background-color: darkblue;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-dark-purple {
    background-color: darkviolet;
}

.bg-light-purple {
    background-color: lavender;
}

.bg-dark-pink {
    background-color: darkmagenta;
}

.bg-light-pink {
    background-color: lightpink;
}

.bg-dark-brown {
    background-color: saddlebrown;
}

.bg-light-brown {
    background-color: burlywood;
}

.bg-dark-black {
    background-color: black;
}

.bg-light-black {
    background-color: dimgray;
}

.bg-dark-white {
    background-color: #f5f5f5;
}

.bg-light-white {
    background-color: whitesmoke;
}

.bg-dark-gray {
    background-color: darkgray;
}

.bg-light-gray {
    background-color: lightgray;
}

.bg-dark-cyan {
    background-color: darkcyan;
}

.bg-light-cyan {
    background-color: lightcyan;
}

.bg-dark-magenta {
    background-color: darkmagenta;
}

.bg-light-magenta {
    background-color: magenta;
}

.bg-dark-indigo {
    background-color: indigo;
}

.bg-light-indigo {
    background-color: mediumslateblue;
}

.bg-dark-turquoise {
    background-color: darkturquoise;
}

.bg-light-turquoise {
    background-color: aquamarine;
}

.bg-dark-lavender {
    background-color: darkviolet;
}

.bg-light-lavender {
    background-color: lavender;
}

.bg-dark-maroon {
    background-color: maroon;
}

.bg-light-maroon {
    background-color: brown;
}

.bg-dark-coral {
    background-color: coral;
}

.bg-light-coral {
    background-color: lightcoral;
}

.bg-dark-gold {
    background-color: goldenrod;
}

.bg-light-gold {
    background-color: gold;
}

.bg-dark-silver {
    background-color: silver;
}

.bg-light-silver {
    background-color: lightgrey;
}

.bg-dark-olive {
    background-color: olive;
}

.bg-light-olive {
    background-color: olivedrab;
}

.bg-dark-teal {
    background-color: darkcyan;
}

.bg-light-teal {
    background-color: darkcyan;
}

.bg-dark-violet {
    background-color: darkviolet;
}

.bg-light-violet {
    background-color: violet;
}

.bg-dark-peach {
    background-color: peachpuff;
}

.bg-light-peach {
    background-color: peachpuff;
}

.bg-dark-slate {
    background-color: slategrey;
}

.bg-light-slate {
    background-color: lightslategray;
}

.bg-dark-burgundy {
    background-color: #800020;
}

.bg-light-burgundy {
    background-color: #800020;
}

.bg-dark-beige {
    background-color: beige;
}

.bg-light-beige {
    background-color: beige;
}

.bg-dark-mauve {
    background-color: #b784a7;
}

.bg-light-mauve {
    background-color: #b784a7;
}

.bg-dark-ivory {
    background-color: ivory;
}

.bg-light-ivory {
    background-color: ivory;
}

.bg-dark-charcoal {
    background-color: #36454f;
}

.bg-light-charcoal {
    background-color: #36454f;
}

.bg-dark-crimson {
    background-color: crimson;
}

.bg-light-crimson {
    background-color: crimson;
}

.bg-dark-azure {
    background-color: azure;
}

.bg-light-azure {
    background-color: azure;
}

.bg-dark-emerald {
    background-color: #50c878;
}

.bg-light-emerald {
    background-color: #50c878;
}

.bg-dark-ruby {
    background-color: #e0115f;
}

.bg-light-ruby {
    background-color: #e0115f;
}

.bg-dark-sapphire {
    background-color: #0f52ba;
}

.bg-light-sapphire {
    background-color: #0f52ba;
}

.bg-dark-lemon {
    background-color: lemonchiffon;
}

.bg-light-lemon {
    background-color: lemonchiffon;
}

.bg-dark-orchid {
    background-color: darkorchid;
}

.bg-light-orchid {
    background-color: orchid;
}

.bg-dark-tan {
    background-color: tan;
}

.bg-light-tan {
    background-color: tan;
}

.bg-dark-aquamarine {
    background-color: aquamarine;
}

.bg-light-aquamarine {
    background-color: aquamarine;
}

.bg-dark-chartreuse {
    background-color: chartreuse;
}

.bg-light-chartreuse {
    background-color: chartreuse;
}

.bg-dark-fuchsia {
    background-color: fuchsia;
}

.bg-light-fuchsia {
    background-color: fuchsia;
}

.bg-dark-periwinkle {
    background-color: #ccccff;
}

.bg-light-periwinkle {
    background-color: #ccccff;
}

.bg-dark-tangerine {
    background-color: #f28500;
}

.bg-light-tangerine {
    background-color: #f28500;
}

.bg-dark-rose {
    background-color: #ff007f;
}

.bg-light-rose {
    background-color: #ff007f;
}

.bg-dark-mint {
    background-color: #98ff98;
}

.bg-light-mint {
    background-color: #98ff98;
}

.bg-dark-lilac {
    background-color: #c8a2c8;
}

.bg-light-lilac {
    background-color: #c8a2c8;
}

.bg-dark-amber {
    background-color: #ffbf00;
}

.bg-light-amber {
    background-color: #ffbf00;
}

.bg-dark-apricot {
    background-color: #fbceb1;
}

.bg-light-apricot {
    background-color: #fbceb1;
}

.bg-dark-rust {
    background-color: #b7410e;
}

.bg-light-rust {
    background-color: #b7410e;
}

.bg-dark-mahogany {
    background-color: #c04000;
}

.bg-light-mahogany {
    background-color: #c04000;
}

.bg-dark-mustard {
    background-color: #ffdb58;
}

.bg-light-mustard {
    background-color: #ffdb58;
}

.bg-dark-celadon {
    background-color: #ace1af;
}

.bg-light-celadon {
    background-color: #ace1af;
}

.bg-dark-salmon {
    background-color: #fa8072;
}

.bg-light-salmon {
    background-color: #fa8072;
}

.bg-dark-pearl {
    background-color: #eae0c8;
}

.bg-light-pearl {
    background-color: #eae0c8;
}


/* Gradient Background Colors */
.g-bg-dark-red {
    background: linear-gradient(to right, #8B0000, #FF6347);
}

.g-bg-light-red {
    background: linear-gradient(to right, #FF6347, #FFA07A);
}

.g-bg-dark-orange {
    background: linear-gradient(to right, #FF4500, #FFA500);
}

.g-bg-light-orange {
    background: linear-gradient(to right, #FFA500, #FFD700);
}

.g-bg-dark-yellow {
    background: linear-gradient(to right, #8B6508, #FFD700);
}

.g-bg-light-yellow {
    background: linear-gradient(to right, #FFD700, #FFFF00);
}

.g-bg-dark-green {
    background: linear-gradient(to right, #006400, #7FFF00);
}

.g-bg-light-green {
    background: linear-gradient(to right, #7FFF00, #ADFF2F);
}

.g-bg-dark-blue {
    background: linear-gradient(to right, #00008B, #4169E1);
}

.g-bg-light-blue {
    background: linear-gradient(to right, #4169E1, #87CEEB);
}

.g-bg-dark-purple {
    background: linear-gradient(to right, #4B0082, #800080);
}

.g-bg-light-purple {
    background: linear-gradient(to right, #800080, #DA70D6);
}

.g-bg-dark-pink {
    background: linear-gradient(to right, #8B008B, #FF69B4);
}

.g-bg-light-pink {
    background: linear-gradient(to right, #FF69B4, #FFB6C1);
}

.g-bg-dark-brown {
    background: linear-gradient(to right, #8B4513, #A52A2A);
}

.g-bg-light-brown {
    background: linear-gradient(to right, #A52A2A, #D2691E);
}

.g-bg-dark-black {
    background: linear-gradient(to right, #000000, #808080);
}

.g-bg-light-black {
    background: linear-gradient(to right, #808080, #D3D3D3);
}

.g-bg-dark-white {
    background: linear-gradient(to right, #A9A9A9, #FFFFFF);
}

.g-bg-light-white {
    background: linear-gradient(to right, #FFFFFF, #F5F5F5);
}

.g-bg-dark-gray {
    background: linear-gradient(to right, #696969, #A9A9A9);
}

.g-bg-light-gray {
    background: linear-gradient(to right, #A9A9A9, #D3D3D3);
}

.g-bg-dark-cyan {
    background: linear-gradient(to right, #008B8B, #00FFFF);
}

.g-bg-light-cyan {
    background: linear-gradient(to right, #00FFFF, #E0FFFF);
}

.g-bg-dark-magenta {
    background: linear-gradient(to right, #8B008B, #FF00FF);
}

.g-bg-light-magenta {
    background: linear-gradient(to right, #FF00FF, #FFC0CB);
}

.g-bg-dark-indigo {
    background: linear-gradient(to right, #4B0082, #483D8B);
}

.g-bg-light-indigo {
    background: linear-gradient(to right, #483D8B, #9370DB);
}

.g-bg-dark-turquoise {
    background: linear-gradient(to right, #00CED1, #40E0D0);
}

.g-bg-light-turquoise {
    background: linear-gradient(to right, #40E0D0, #AFEEEE);
}

.g-bg-dark-lavender {
    background: linear-gradient(to right, #6A5ACD, #9370DB);
}

.g-bg-light-lavender {
    background: linear-gradient(to right, #9370DB, #E6E6FA);
}

.g-bg-dark-maroon {
    background: linear-gradient(to right, #800000, #800000);
}

.g-bg-light-maroon {
    background: linear-gradient(to right, #800000, #B03060);
}

.g-bg-dark-coral {
    background: linear-gradient(to right, #FF4500, #FF7F50);
}

.g-bg-light-coral {
    background: linear-gradient(to right, #FF7F50, #F08080);
}

.g-bg-dark-gold {
    background: linear-gradient(to right, #FFD700, #FFD700);
}

.g-bg-light-gold {
    background: linear-gradient(to right, #FFD700, #FFD700);
}

.g-bg-dark-silver {
    background: linear-gradient(to right, #C0C0C0, #C0C0C0);
}

.g-bg-light-silver {
    background: linear-gradient(to right, #C0C0C0, #C0C0C0);
}

.g-bg-dark-olive {
    background: linear-gradient(to right, #6B8E23, #808000);
}

.g-bg-light-olive {
    background: linear-gradient(to right, #808000, #BDB76B);
}

.g-bg-dark-teal {
    background: linear-gradient(to right, #008080, #008080);
}

.g-bg-light-teal {
    background: linear-gradient(to right, #008080, #008080);
}

.g-bg-dark-violet {
    background: linear-gradient(to right, #8A2BE2, #8A2BE2);
}

.g-bg-light-violet {
    background: linear-gradient(to right, #8A2BE2, #DDA0DD);
}

.g-bg-dark-peach {
    background: linear-gradient(to right, #FFDAB9, #FFDAB9);
}

.g-bg-light-peach {
    background: linear-gradient(to right, #FFDAB9, #FFE4B5);
}

.g-bg-dark-slate {
    background: linear-gradient(to right, #2F4F4F, #2F4F4F);
}

.g-bg-light-slate {
    background: linear-gradient(to right, #2F4F4F, #708090);
}

.g-bg-dark-burgundy {
    background: linear-gradient(to right, #800020, #800020);
}

.g-bg-light-burgundy {
    background: linear-gradient(to right, #800020, #9932CC);
}

.g-bg-dark-beige {
    background: linear-gradient(to right, #F5F5DC, #F5F5DC);
}

.g-bg-light-beige {
    background: linear-gradient(to right, #F5F5DC, #F5F5DC);
}

.g-bg-dark-mauve {
    background: linear-gradient(to right, #9370DB, #9370DB);
}

.g-bg-light-mauve {
    background: linear-gradient(to right, #9370DB, #DDA0DD);
}

.g-bg-dark-ivory {
    background: linear-gradient(to right, #FFFFF0, #FFFFF0);
}

.g-bg-light-ivory {
    background: linear-gradient(to right, #FFFFF0, #FFFFF0);
}

.g-bg-dark-charcoal {
    background: linear-gradient(to right, #36454f, #36454f);
}

.g-bg-light-charcoal {
    background: linear-gradient(to right, #36454f, #36454f);
}

.g-bg-dark-crimson {
    background: linear-gradient(to right, #DC143C, #DC143C);
}

.g-bg-light-crimson {
    background: linear-gradient(to right, #DC143C, #FF1493);
}

.g-bg-dark-azure {
    background: linear-gradient(to right, #007FFF, #007FFF);
}

.g-bg-light-azure {
    background: linear-gradient(to right, #007FFF, #007FFF);
}

.g-bg-dark-emerald {
    background: linear-gradient(to right, #50c878, #50c878);
}

.g-bg-light-emerald {
    background: linear-gradient(to right, #50c878, #50c878);
}

.g-bg-dark-ruby {
    background: linear-gradient(to right, #e0115f, #e0115f);
}

.g-bg-light-ruby {
    background: linear-gradient(to right, #e0115f, #e0115f);
}

.g-bg-dark-sapphire {
    background: linear-gradient(to right, #0f52ba, #0f52ba);
}

.g-bg-light-sapphire {
    background: linear-gradient(to right, #0f52ba, #0f52ba);
}

.g-bg-dark-lemon {
    background: linear-gradient(to right, #FFF700, #FFF700);
}

.g-bg-light-lemon {
    background: linear-gradient(to right, #FFF700, #FFFACD);
}

.g-bg-dark-orchid {
    background: linear-gradient(to right, #9932CC, #9932CC);
}

.g-bg-light-orchid {
    background: linear-gradient(to right, #9932CC, #DA70D6);
}

.g-bg-dark-tan {
    background: linear-gradient(to right, #D2B48C, #D2B48C);
}

.g-bg-light-tan {
    background: linear-gradient(to right, #D2B48C, #D2B48C);
}

.g-bg-dark-aquamarine {
    background: linear-gradient(to right, #7FFFD4, #7FFFD4);
}

.g-bg-light-aquamarine {
    background: linear-gradient(to right, #7FFFD4, #7FFFD4);
}

.g-bg-dark-chartreuse {
    background: linear-gradient(to right, #7FFF00, #7FFF00);
}

.g-bg-light-chartreuse {
    background: linear-gradient(to right, #7FFF00, #7FFF00);
}

.g-bg-dark-fuchsia {
    background: linear-gradient(to right, #FF00FF, #FF00FF);
}

.g-bg-light-fuchsia {
    background: linear-gradient(to right, #FF00FF, #FF00FF);
}

.g-bg-dark-periwinkle {
    background: linear-gradient(to right, #CCCCFF, #CCCCFF);
}

.g-bg-light-periwinkle {
    background: linear-gradient(to right, #CCCCFF, #CCCCFF);
}

.g-bg-dark-tangerine {
    background: linear-gradient(to right, #F28500, #F28500);
}

.g-bg-light-tangerine {
    background: linear-gradient(to right, #F28500, #F28500);
}

.g-bg-dark-rose {
    background: linear-gradient(to right, #FF007F, #FF007F);
}

.g-bg-light-rose {
    background: linear-gradient(to right, #FF007F, #FF1493);
}

.g-bg-dark-mint {
    background: linear-gradient(to right, #98ff98, #98ff98);
}

.g-bg-light-mint {
    background: linear-gradient(to right, #98ff98, #98ff98);
}

.g-bg-dark-lilac {
    background: linear-gradient(to right, #C8A2C8, #C8A2C8);
}

.g-bg-light-lilac {
    background: linear-gradient(to right, #C8A2C8, #E6E6FA);
}

.g-bg-dark-amber {
    background: linear-gradient(to right, #FFBF00, #FFBF00);
}

.g-bg-light-amber {
    background: linear-gradient(to right, #FFBF00, #FFBF00);
}

.g-bg-dark-apricot {
    background: linear-gradient(to right, #Fbceb1, #Fbceb1);
}

.g-bg-light-apricot {
    background: linear-gradient(to right, #Fbceb1, #Ff7f50);
}

.g-bg-dark-rust {
    background: linear-gradient(to right, #B7410E, #B7410E);
}

.g-bg-light-rust {
    background: linear-gradient(to right, #B7410E, #B7410E);
}

.g-bg-dark-mahogany {
    background: linear-gradient(to right, #C04000, #C04000);
}

.g-bg-light-mahogany {
    background: linear-gradient(to right, #C04000, #C04000);
}

.g-bg-dark-mustard {
    background: linear-gradient(to right, #FFDB58, #FFDB58);
}

.g-bg-light-mustard {
    background: linear-gradient(to right, #FFDB58, #FFDB58);
}

.g-bg-dark-celadon {
    background: linear-gradient(to right, #Ace1af, #Ace1af);
}

.g-bg-light-celadon {
    background: linear-gradient(to right, #Ace1af, #Ace1af);
}

.g-bg-dark-salmon {
    background: linear-gradient(to right, #Fa8072, #Fa8072);
}

.g-bg-light-salmon {
    background: linear-gradient(to right, #Fa8072, #Fa8072);
}

.g-bg-dark-pearl {
    background: linear-gradient(to right, #Eae0c8, #Eae0c8);
}

.g-bg-light-pearl {
    background: linear-gradient(to right, #Eae0c8, #Eae0c8);
}

/* Gradient Background Colors */
.g-bg-red {
    background: linear-gradient(to right, #FF0000, #FF0000);
}

.g-bg-blue {
    background: linear-gradient(to right, #0000FF, #0000FF);
}

.g-bg-green {
    background: linear-gradient(to right, #008000, #008000);
}

.g-bg-yellow {
    background: linear-gradient(to right, #FFFF00, #FFFF00);
}

.g-bg-orange {
    background: linear-gradient(to right, #FFA500, #FFA500);
}

.g-bg-purple {
    background: linear-gradient(to right, #800080, #800080);
}

.g-bg-pink {
    background: linear-gradient(to right, #FFC0CB, #FFC0CB);
}

.g-bg-brown {
    background: linear-gradient(to right, #A52A2A, #A52A2A);
}

.g-bg-black {
    background: linear-gradient(to right, #000000, #000000);
}

.g-bg-white {
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

/* Gradient Background Colors */
.g-bg-gray {
    background: linear-gradient(to right, #808080, #808080);
}

.g-bg-cyan {
    background: linear-gradient(to right, #00FFFF, #00FFFF);
}

.g-bg-magenta {
    background: linear-gradient(to right, #FF00FF, #FF00FF);
}

.g-bg-turquoise {
    background: linear-gradient(to right, #40E0D0, #40E0D0);
}

.g-bg-maroon {
    background: linear-gradient(to right, #800000, #800000);
}

.g-bg-indigo {
    background: linear-gradient(to right, #4B0082, #4B0082);
}

.g-bg-teal {
    background: linear-gradient(to right, #008080, #008080);
}

.g-bg-lavender {
    background: linear-gradient(to right, #E6E6FA, #E6E6FA);
}

.g-bg-black {
    background: linear-gradient(to bottom, #000000, #101010);
}


.g-bg-beige {
    background: linear-gradient(to right, #F5F5DC, #F5F5DC);
}

.g-bg-peach {
    background: linear-gradient(to right, #FFE4B5, #FFE4B5);
}

.g-bg-olive {
    background: linear-gradient(to right, #808000, #808000);
}

.g-bg-gold {
    background: linear-gradient(to right, #FFD700, #FFD700);
}

.g-bg-silver {
    background: linear-gradient(to right, #C0C0C0, #C0C0C0);
}

.g-bg-navy {
    background: linear-gradient(to right, #000080, #000080);
}

.g-bg-cream {
    background: linear-gradient(to right, #FFFDD0, #FFFDD0);
}

.g-bg-coral {
    background: linear-gradient(to right, #FF7F50, #FF7F50);
}

.g-bg-tan {
    background: linear-gradient(to right, #D2B48C, #D2B48C);
}

.g-bg-burgundy {
    background: linear-gradient(to right, #800020, #800020);
}

.g-bg-mint {
    background: linear-gradient(to right, #98FF98, #98FF98);
}

.g-bg-charcoal {
    background: linear-gradient(to right, #36454F, #36454F);
}


/* Class for adding border */
.border {
    border: 1px solid black;
}

.rounded-xl {
    border-radius: 2rem; 
}

/* Class for adding rounded corners */
.rounded {
    border-radius: 0.2rem; 
}

.rounded-lg {
    border-radius: 1.2rem; 
}

/* Class for adding large rounded corners */
.rounded-md {
    border-radius: 0.6rem; 
}

/* Class for adding small rounded corners */
.rounded-sm {
    border-radius: 0.3rem; 
}
/* Class for adding rounded border on the left side with medium radius */
.rounded-left-md {
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem; 
}

/* Class for adding rounded border on the right side with medium radius */
.rounded-right-md {
    border-top-right-radius: 0.5rem; 
    border-bottom-right-radius: 0.5rem; 
}

/* Class for adding rounded border on the top side with medium radius */
.rounded-top-md {
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
}

/* Class for adding rounded border on the bottom side with medium radius */
.rounded-bottom-md {
    border-bottom-left-radius: 0.5rem; 
    border-bottom-right-radius: 0.5rem; 
}

/* Class for adding rounded border on the left side with small radius */
.rounded-left-sm {
    border-top-left-radius: 0.25rem; 
    border-bottom-left-radius: 0.25rem; 
}

/* Class for adding rounded border on the right side with small radius */
.rounded-right-sm {
    border-top-right-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
}

/* Class for adding rounded border on the top side with small radius */
.rounded-top-sm {
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}

/* Class for adding rounded border on the bottom side with small radius */
.rounded-bottom-sm {
    border-bottom-left-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
}

/* Class for adding rounded border on the left side with large radius */
.rounded-left-lg {
    border-top-left-radius: 0.75rem; 
    border-bottom-left-radius: 0.75rem; 
}

/* Class for adding rounded border on the right side with large radius */
.rounded-right-lg {
    border-top-right-radius: 0.75rem; 
    border-bottom-right-radius: 0.75rem; 
}

/* Class for adding rounded border on the top side with large radius */
.rounded-top-lg {
    border-top-left-radius: 0.75rem; 
    border-top-right-radius: 0.75rem; 
}

/* Class for adding rounded border on the bottom side with large radius */
.rounded-bottom-lg {
    border-bottom-left-radius: 0.75rem; 
    border-bottom-right-radius: 0.75rem; 
}

/* Class for adding rounded border on the left side with extra-small radius */
.rounded-left-xs {
    border-top-left-radius: 0.125rem; 
    border-bottom-left-radius: 0.125rem; 
}

/* Class for adding rounded border on the right side with extra-small radius */
.rounded-right-xs {
    border-top-right-radius: 0.125rem; 
    border-bottom-right-radius: 0.125rem; 
}

/* Class for adding rounded border on the top side with extra-small radius */
.rounded-top-xs {
    border-top-left-radius: 0.125rem; 
    border-top-right-radius: 0.125rem; 
}

/* Class for adding rounded border on the bottom side with extra-small radius */
.rounded-botthom-xs {
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
}

/* Class for adding rounded border on the left side with extra-large radius */
.rounded-left-xl {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

/* Class for adding rounded border on the right side with extra-large radius */
.rounded-right-xl {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/* Class for adding rounded border on the top side with extra-large radius */
.rounded-top-xl {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

/* Class for adding rounded border on the bottom side with extra-large radius */
.rounded-bottom-xl {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


/* Margin classes for specific sides */
/* Margin top classes */

.margin {
    margin: 0 auto;
}



/* Text Alignments */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* Vertical Alignments */
.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

/* Horizontal Alignments */
.align-left {
    display: inline-block;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    display: inline-block;
    /* float: right; */
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-orange{
    background-color: orange;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-red{
    background-color: red;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-white{
    background-color: white;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}


.hr-black{
    background-color: black;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-green{
    background-color: green;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-dark-orange{
    background-color: darkorange;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-dark-red{
    background-color: darkred;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-peru{
    background-color: peru;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}


.hr-gold{
    background-color: gold;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-dark-green{
    background-color: darkgreen;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}


.hr-dark-gray{
    background-color: darkgrey;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-gray{
    background-color: grey;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}


.hr-pink{
    background-color: pink;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-purple{
    background-color: purple;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.hr-yellow{
    background-color: yellow;
    border-radius: 20px;
    border-spacing: 6px;
    height: 6px;
    white-space: 12px;
}

.bg-gold{
    background-color: gold;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.width-full{
    width: 100%;
}

.height-full{
    height: 100%;
}

/* Font styles */

/* @font-face rules for each font */
@font-face {
    font-family: 'arial-black';
    src: local('Arial Black'), url('ArialBlack.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'cambria';
    src: local('Cambria'), url('Cambria.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'comic-sans-ms';
    src: local('Comic Sans MS'), url('ComicSansMS.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'consolas';
    src: local('Consolas'), url('Consolas.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'rockwell';
    src: local('Rockwell'), url('Rockwell.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'courier';
    src: local('Courier'), url('Courier.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'baskerville';
    src: local('Baskerville'), url('Baskerville.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'bodoni';
    src: local('Bodoni'), url('Bodoni.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'cooper-black';
    src: local('Cooper Black'), url('CooperBlack.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'didot';
    src: local('Didot'), url('Didot.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'futura';
    src: local('Futura'), url('Futura.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'gill-sans';
    src: local('Gill Sans'), url('GillSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'avenir';
    src: local('Avenir'), url('Avenir.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'brush-script';
    src: local('Brush Script'), url('BrushScript.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'impact';
    src: local('Impact'), url('Impact.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'palatino-linotype';
    src: local('Palatino Linotype'), url('PalatinoLinotype.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'perpetua';
    src: local('Perpetua'), url('Perpetua.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-print';
    src: local('Segoe Print'), url('SegoePrint.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-script';
    src: local('Segoe Script'), url('SegoeScript.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-ui';
    src: local('Segoe UI'), url('SegoeUI.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'roboto';
    src: local('Roboto'), url('Roboto.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'open-sans';
    src: local('Open Sans'), url('OpenSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat';
    src: local('Montserrat'), url('Montserrat.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'lato';
    src: local('Lato'), url('Lato.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'ubuntu';
    src: local('Ubuntu'), url('Ubuntu.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'droid-sans';
    src: local('Droid Sans'), url('DroidSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'noto-serif';
    src: local('Noto Serif'), url('NotoSerif.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'playfair-display';
    src: local('Playfair Display'), url('PlayfairDisplay.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'merriweather';
    src: local('Merriweather'), url('Merriweather.ttf') format('truetype');
  }


  @font-face {
    font-family: 'arial-black';
    src: local('Arial Black'), url('ArialBlack.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'cambria';
    src: local('Cambria'), url('Cambria.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'comic-sans-ms';
    src: local('Comic Sans MS'), url('ComicSansMS.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'consolas';
    src: local('Consolas'), url('Consolas.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'rockwell';
    src: local('Rockwell'), url('Rockwell.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'courier';
    src: local('Courier'), url('Courier.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'baskerville';
    src: local('Baskerville'), url('Baskerville.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'bodoni';
    src: local('Bodoni'), url('Bodoni.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'cooper-black';
    src: local('Cooper Black'), url('CooperBlack.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'didot';
    src: local('Didot'), url('Didot.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'futura';
    src: local('Futura'), url('Futura.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'gill-sans';
    src: local('Gill Sans'), url('GillSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'avenir';
    src: local('Avenir'), url('Avenir.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'brush-script';
    src: local('Brush Script'), url('BrushScript.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'impact';
    src: local('Impact'), url('Impact.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'palatino-linotype';
    src: local('Palatino Linotype'), url('PalatinoLinotype.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'perpetua';
    src: local('Perpetua'), url('Perpetua.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-print';
    src: local('Segoe Print'), url('SegoePrint.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-script';
    src: local('Segoe Script'), url('SegoeScript.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'segoe-ui';
    src: local('Segoe UI'), url('SegoeUI.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'roboto';
    src: local('Roboto'), url('Roboto.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'open-sans';
    src: local('Open Sans'), url('OpenSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'montserrat';
    src: local('Montserrat'), url('Montserrat.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'lato';
    src: local('Lato'), url('Lato.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'ubuntu';
    src: local('Ubuntu'), url('Ubuntu.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'droid-sans';
    src: local('Droid Sans'), url('DroidSans.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'noto-serif';
    src: local('Noto Serif'), url('NotoSerif.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'playfair-display';
    src: local('Playfair Display'), url('PlayfairDisplay.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'merriweather';
    src: local('Merriweather'), url('Merriweather.ttf') format('truetype');
  }
   
  


  /* Font classes */
  .arial-black-font {
    font-family: 'Arial Black', sans-serif;
  }
  
  .cambria-font {
    font-family: 'Cambria', serif;
  }
  
  .comic-sans-ms-font {
    font-family: 'Comic Sans MS', cursive;
  }
  
  .consolas-font {
    font-family: 'Consolas', monospace;
  }
  
  .rockwell-font {
    font-family: 'Rockwell', serif;
  }
  
  .courier-font {
    font-family: 'Courier', monospace;
  }
  
  .baskerville-font {
    font-family: 'Baskerville', serif;
  }
  
  .bodoni-font {
    font-family: 'Bodoni', serif;
  }
  
  .cooper-black-font {
    font-family: 'Cooper Black', sans-serif;
  }
  
  .didot-font {
    font-family: 'Didot', serif;
  }
  
  .futura-font {
    font-family: 'Futura', sans-serif;
  }
  
  .gill-sans-font {
    font-family: 'Gill Sans', sans-serif;
  }
  
  .avenir-font {
    font-family: 'Avenir', sans-serif;
  }
  
  .brush-script-font {
    font-family: 'Brush Script', cursive;
  }
  
  .impact-font {
    font-family: 'Impact', sans-serif;
  }
  
  .palatino-linotype-font {
    font-family: 'Palatino Linotype', serif;
  }
  
  .perpetua-font {
    font-family: 'Perpetua', serif;
  }
  
  .segoe-print-font {
    font-family: 'Segoe Print', sans-serif;
  }
  
  .segoe-script-font {
    font-family: 'Segoe Script', cursive;
  }
  
  .segoe-ui-font {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .roboto-font {
    font-family: 'Roboto', sans-serif;
  }
  
  .open-sans-font {
    font-family: 'Open Sans', sans-serif;
  }
  
  .montserrat-font {
    font-family: 'Montserrat', sans-serif;
  }
  
  .lato-font {
    font-family: 'Lato', sans-serif;
  }
  
  .ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
  }
  
  .droid-sans-font {
    font-family: 'Droid Sans', sans-serif;
  }
  
  .noto-serif-font {
    font-family: 'Noto Serif', serif;
  }
  
  .playfair-display-font {
    font-family: 'Playfair Display', serif;
  }
  
  .merriweather-font {
    font-family: 'Merriweather', serif;
  }
  

.fantasy-font {
    font-family: fantasy, sans-serif;
}

.monaco-font {
    font-family: Monaco, monospace;
}

.impact-font {
    font-family: Impact, sans-serif;
}

.courier-new-font {
    font-family: 'Courier New', monospace;
}

.chalkboard-font {
    font-family: Chalkboard, fantasy;
}

.bell-mt-font {
    font-family: 'Bell MT', serif;
}

.american-typewriter-font {
    font-family: 'American Typewriter', sans-serif;
}

.copperplate-font {
    font-family: Copperplate, serif;
}

.lucida-sans-font {
    font-family: 'Lucida Sans', sans-serif;
}

.gill-sans-font {
    font-family: 'Gill Sans', sans-serif;
}

.book-antiqua-font {
    font-family: 'Book Antiqua', serif;
}

.bodoni-mt-font {
    font-family: 'Bodoni MT', serif;
}

.garamond-font {
    font-family: Garamond, serif;
}

.rockwell-font {
    font-family: Rockwell, serif;
}

.papyrus-font {
    font-family: Papyrus, fantasy;
}

.brush-script-font {
    font-family: 'Brush Script', cursive;
}

.cooper-font {
    font-family: Cooper, sans-serif;
}

.optima-font {
    font-family: Optima, sans-serif;
}

.bauhaus-font {
    font-family: Bauhaus, sans-serif;
}

.futura-font {
    font-family: Futura, sans-serif;
}

.trajan-font {
    font-family: Trajan, serif;
}

.franklin-gothic-font {
    font-family: 'Franklin Gothic', sans-serif;
}

.geneva-font {
    font-family: Geneva, sans-serif;
}

.trebuchet-font {
    font-family: Trebuchet, sans-serif;
}

.calibri-font {
    font-family: Calibri, sans-serif;
}

.myriad-pro-font {
    font-family: 'Myriad Pro', sans-serif;
}

.corbel-font {
    font-family: Corbel, sans-serif;
}

.segoe-ui-font {
    font-family: 'Segoe UI', sans-serif;
}

.lemon-font {
    font-family: 'Lemon', cursive;
}


.arial-black-font {
    font-family: 'Arial Black', sans-serif;
}

.cambria-font {
    font-family: 'Cambria', serif;
}

.comic-sans-ms-font {
    font-family: 'Comic Sans MS', cursive;
}

.consolas-font {
    font-family: 'Consolas', monospace;
}

.rockwell-font {
    font-family: 'Rockwell', serif;
}

.courier-font {
    font-family: 'Courier', monospace;
}

.baskerville-font {
    font-family: 'Baskerville', serif;
}

.bodoni-font {
    font-family: 'Bodoni', serif;
}

.cooper-black-font {
    font-family: 'Cooper Black', sans-serif;
}

.didot-font {
    font-family: 'Didot', serif;
}

.futura-font {
    font-family: 'Futura', sans-serif;
}

.gill-sans-font {
    font-family: 'Gill Sans', sans-serif;
}

.avenir-font {
    font-family: 'Avenir', sans-serif;
}

.brush-script-font {
    font-family: 'Brush Script', cursive;
}

.impact-font {
    font-family: 'Impact', sans-serif;
}

.palatino-linotype-font {
    font-family: 'Palatino Linotype', serif;
}

.perpetua-font {
    font-family: 'Perpetua', serif;
}

.segoe-print-font {
    font-family: 'Segoe Print', sans-serif;
}

.segoe-script-font {
    font-family: 'Segoe Script', cursive;
}

.segoe-ui-font {
    font-family: 'Segoe UI', sans-serif;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

.ubuntu-font {
    font-family: 'Ubuntu', sans-serif;
}

.droid-sans-font {
    font-family: 'Droid Sans', sans-serif;
}

.noto-serif-font {
    font-family: 'Noto Serif', serif;
}

.playfair-display-font {
    font-family: 'Playfair Display', serif;
}

.merriweather-font {
    font-family: 'Merriweather', serif;
}

  /* Font styles */
  
  /* Font classes */
  .fantasy-font {
      font-family: fantasy, sans-serif;
    }
    
    .monaco-font {
      font-family: Monaco, monospace;
    }
    
    .impact-font {
      font-family: Impact, sans-serif;
    }
    
    .courier-new-font {
      font-family: 'Courier New', monospace;
    }
    
    .chalkboard-font {
      font-family: Chalkboard, fantasy;
    }
    
    .bell-mt-font {
      font-family: 'Bell MT', serif;
    }
    
    .american-typewriter-font {
      font-family: 'American Typewriter', sans-serif;
    }
    
    .copperplate-font {
      font-family: Copperplate, serif;
    }
    
    .lucida-sans-font {
      font-family: 'Lucida Sans', sans-serif;
    }
    
    .gill-sans-font {
      font-family: 'Gill Sans', sans-serif;
    }
    
    .book-antiqua-font {
      font-family: 'Book Antiqua', serif;
    }
    
    .bodoni-mt-font {
      font-family: 'Bodoni MT', serif;
    }
    
    .garamond-font {
      font-family: Garamond, serif;
    }
    
    .rockwell-font {
      font-family: Rockwell, serif;
    }
    
    .papyrus-font {
      font-family: Papyrus, fantasy;
    }
    
    .brush-script-font {
      font-family: 'Brush Script', cursive;
    }
    
    .cooper-font {
      font-family: Cooper, sans-serif;
    }
    
    .optima-font {
      font-family: Optima, sans-serif;
    }
    
    .bauhaus-font {
      font-family: Bauhaus, sans-serif;
    }
    
    .futura-font {
      font-family: Futura, sans-serif;
    }
    
    .trajan-font {
      font-family: Trajan, serif;
    }
    
    .franklin-gothic-font {
      font-family: 'Franklin Gothic', sans-serif;
    }
    
    .geneva-font {
      font-family: Geneva, sans-serif;
    }
    
    .trebuchet-font {
      font-family: Trebuchet, sans-serif;
    }
    
    .calibri-font {
      font-family: Calibri, sans-serif;
    }
    
    .myriad-pro-font {
      font-family: 'Myriad Pro', sans-serif;
    }
    
    .corbel-font {
      font-family: Corbel, sans-serif;
    }
    
    .segoe-ui-font {
      font-family: 'Segoe UI', sans-serif;
    }
    
    .lemon-font {
      font-family: 'Lemon', cursive;
    }
  
    
  /* Font styles */
  
  /* Font classes */
  .ubuntu-font {
      font-family: Ubuntu, sans-serif;
    }
    
    .source-sans-pro-font {
      font-family: 'Source Sans Pro', sans-serif;
    }
    
    .rubik-font {
      font-family: Rubik, sans-serif;
    }
    
    .raleway-font {
      font-family: Raleway, sans-serif;
    }
    
    .oswald-font {
      font-family: Oswald, sans-serif;
    }
    
    .montserrat-font {
      font-family: Montserrat, sans-serif;
    }
    
    .lobster-font {
      font-family: Lobster, cursive;
    }
    
    .lato-font {
      font-family: Lato, sans-serif;
    }
    
    .inconsolata-font {
      font-family: Inconsolata, monospace;
    }
    
    .hind-font {
      font-family: Hind, sans-serif;
    }
    
    .open-sans-font {
      font-family: 'Open Sans', sans-serif;
    }
    
    .nunito-font {
      font-family: Nunito, sans-serif;
    }
    
    .merriweather-font {
      font-family: Merriweather, serif;
    }
    
    .montserrat-font {
      font-family: Montserrat, sans-serif;
    }
    
    .quicksand-font {
      font-family: Quicksand, sans-serif;
    }
    
    .poppins-font {
      font-family: Poppins, sans-serif;
    }
    
    .roboto-font {
      font-family: Roboto, sans-serif;
    }
    
    .roboto-slab-font {
      font-family: 'Roboto Slab', serif;
    }
    
    .spectral-font {
      font-family: Spectral, serif;
    }
    
    .raleway-font {
      font-family: Raleway, sans-serif;
    }
    
    .pt-serif-font {
      font-family: 'PT Serif', serif;
    }
    
    .playfair-display-font {
      font-family: 'Playfair Display', serif;
    }
    
    .rajdhani-font {
      font-family: Rajdhani, sans-serif;
    }
    
    .roboto-condensed-font {
      font-family: 'Roboto Condensed', sans-serif;
    }
    
    .russo-one-font {
      font-family: 'Russo One', sans-serif;
    }
    
    .sansita-font {
      font-family: Sansita, sans-serif;
    }
    
    .sarabun-font {
      font-family: Sarabun, sans-serif;
    }
    
    .work-sans-font {
      font-family: 'Work Sans', sans-serif;
    }
    
    .zilla-slab-font {
      font-family: 'Zilla Slab', serif;
    }
    
  .quattrocento-font {
      font-family: 'Quattrocento', serif;
    }
    
    .archivo-font {
      font-family: 'Archivo', sans-serif;
    }
    
    .antic-slab-font {
      font-family: 'Antic Slab', serif;
    }
    
    .arvo-font {
      font-family: 'Arvo', serif;
    }
    
    .baloo-font {
      font-family: 'Baloo', cursive;
    }
    
    .bree-serif-font {
      font-family: 'Bree Serif', serif;
    }
    
    .cabin-font {
      font-family: 'Cabin', sans-serif;
    }
    
    .changa-font {
      font-family: 'Changa', sans-serif;
    }
    
    .cinzel-font {
      font-family: 'Cinzel', serif;
    }
    
    .dosis-font {
      font-family: 'Dosis', sans-serif;
    }
    
    .eb-garamond-font {
      font-family: 'EB Garamond', serif;
    }
    
    .fredericka-font {
      font-family: 'Fredericka the Great', cursive;
    }
    
    .fugaz-one-font {
      font-family: 'Fugaz One', cursive;
    }
    
    .josefin-sans-font {
      font-family: 'Josefin Sans', sans-serif;
    }
    
    .julius-sans-one-font {
      font-family: 'Julius Sans One', sans-serif;
    }
    
    .kalam-font {
      font-family: 'Kalam', cursive;
    }
    
    .karla-font {
      font-family: 'Karla', sans-serif;
    }
    
    .lora-font {
      font-family: 'Lora', serif;
    }
    
    .montserrat-font {
      font-family: 'Montserrat', sans-serif;
    }
    
    .oxygen-font {
      font-family: 'Oxygen', sans-serif;
    }
    
    .patua-one-font {
      font-family: 'Patua One', cursive;
    }
    
    .quicksand-font {
      font-family: 'Quicksand', sans-serif;
    }
    
    .roboto-font {
      font-family: 'Roboto', sans-serif;
    }
    
    .rosario-font {
      font-family: 'Rosario', sans-serif;
    }
    
    .sarala-font {
      font-family: 'Sarala', sans-serif;
    }
    
    .spectral-font {
      font-family: 'Spectral', serif;
    }
    
    .titillium-web-font {
      font-family: 'Titillium Web', sans-serif;
    }
    
    .zilla-slab-font {
      font-family: 'Zilla Slab', serif;
    }
    
    .zilla-slab-highlight-font {
      font-family: 'Zilla Slab Highlight', sans-serif;
    }
    
  /* Font styles */
  
  /* Font classes */
  .montserrat-font {
      font-family: 'Montserrat', sans-serif;
    }
    
    .roboto-font {
      font-family: 'Roboto', sans-serif;
    }
    
    .open-sans-font {
      font-family: 'Open Sans', sans-serif;
    }
    
    .raleway-font {
      font-family: 'Raleway', sans-serif;
    }
    
    .lato-font {
      font-family: 'Lato', sans-serif;
    }
    
    .pt-sans-font {
      font-family: 'PT Sans', sans-serif;
    }
    
    .source-serif-pro-font {
      font-family: 'Source Serif Pro', serif;
    }
    
    .source-code-pro-font {
      font-family: 'Source Code Pro', monospace;
    }
    
    .arial-black-font {
      font-family: 'Arial Black', sans-serif;
    }
    
    .trebuchet-ms-font {
      font-family: 'Trebuchet MS', sans-serif;
    }
    
    .calibri-font {
      font-family: 'Calibri', sans-serif;
    }
    
    .candara-font {
      font-family: 'Candara', sans-serif;
    }
    
    .cambria-font {
      font-family: 'Cambria', serif;
    }
    
    .georgia-font {
      font-family: 'Georgia', serif;
    }
    
    .didot-font {
      font-family: 'Didot', serif;
    }
    
    .rockwell-font {
      font-family: 'Rockwell', serif;
    }
    
    .bookman-old-style-font {
      font-family: 'Bookman Old Style', serif;
    }
    
    .garamond-font {
      font-family: 'Garamond', serif;
    }
    
    .perpetua-font {
      font-family: 'Perpetua', serif;
    }
    
    .bell-mt-font {
      font-family: 'Bell MT', serif;
    }
    
    .constantia-font {
      font-family: 'Constantia', serif;
    }
    
    .courier-new-font {
      font-family: 'Courier New', monospace;
    }
    
    .lucida-console-font {
      font-family: 'Lucida Console', monospace;
    }
    
    .baskerville-font {
      font-family: 'Baskerville', serif;
    }
    
    .cooper-font {
      font-family: 'Cooper', sans-serif;
    }
    
    .franklin-gothic-font {
      font-family: 'Franklin Gothic', sans-serif;
    }
    
    .futura-font {
      font-family: 'Futura', sans-serif;
    }
    
    .gill-sans-font {
      font-family: 'Gill Sans', sans-serif;
    }
    
    .bauhaus-font {
      font-family: 'Bauhaus 93', sans-serif;
    }
    
  /* Font styles */
  
  /* Font classes */
  .quattrocento-font {
      font-family: 'Quattrocento', serif;
    }
    
    .archivo-font {
      font-family: 'Archivo', sans-serif;
    }
    
    .antic-slab-font {
      font-family: 'Antic Slab', serif;
    }
    
    .arvo-font {
      font-family: 'Arvo', serif;
    }
    
    .baloo-font {
      font-family: 'Baloo', cursive;
    }
    
    .bree-serif-font {
      font-family: 'Bree Serif', serif;
    }
    
    .cabin-font {
      font-family: 'Cabin', sans-serif;
    }
    
    .changa-font {
      font-family: 'Changa', sans-serif;
    }
    
    .cinzel-font {
      font-family: 'Cinzel', serif;
    }
    
    .dosis-font {
      font-family: 'Dosis', sans-serif;
    }
    
    .eb-garamond-font {
      font-family: 'EB Garamond', serif;
    }
    
    .fredericka-font {
      font-family: 'Fredericka the Great', cursive;
    }
    
    .fugaz-one-font {
      font-family: 'Fugaz One', cursive;
    }
    
    .josefin-sans-font {
      font-family: 'Josefin Sans', sans-serif;
    }
    
    .julius-sans-one-font {
      font-family: 'Julius Sans One', sans-serif;
    }
    
    .kalam-font {
      font-family: 'Kalam', cursive;
    }
    
    .karla-font {
      font-family: 'Karla', sans-serif;
    }
    
    .lora-font {
      font-family: 'Lora', serif;
    }
    
    .montserrat-font {
      font-family: 'Montserrat', sans-serif;
    }
    
    .oxygen-font {
      font-family: 'Oxygen', sans-serif;
    }
    
    .patua-one-font {
      font-family: 'Patua One', cursive;
    }
    
    .quicksand-font {
      font-family: 'Quicksand', sans-serif;
    }
    
    .roboto-font {
      font-family: 'Roboto', sans-serif;
    }
    
    .rosario-font {
      font-family: 'Rosario', sans-serif;
    }
    
    .sarala-font {
      font-family: 'Sarala', sans-serif;
    }
    
    .spectral-font {
      font-family: 'Spectral', serif;
    }
    
    .titillium-web-font {
      font-family: 'Titillium Web', sans-serif;
    }
    
    .zilla-slab-font {
      font-family: 'Zilla Slab', serif;
    }
    
    .zilla-slab-highlight-font {
      font-family: 'Zilla Slab Highlight', sans-serif;
    }
  
/* CSS animation  */

.text-tooltip-top {
    position: relative;
    display: inline-block;
  }
  
.text-tooltip-top .text-tooltip-text-top {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
    
  
.text-tooltip-top:hover .text-tooltip-text-top {
    visibility: visible;
  }
  

  /* For bottom  */

.text-tooltip-bottom {
    position: relative;
    display: inline-block;
  }
  
.text-tooltip-bottom .text-tooltip-text-bottom {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
.text-tooltip-bottom:hover .text-tooltip-text-bottom {
    visibility: visible;
  }

/* For left */
.text-tooltip-bottom {
    position: relative;
    display: inline-block;
  }
  
.text-tooltip-left {
    position: relative;
}


.text-tooltip-left .text-tooltip-text-left {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: -120px;
    margin-right: 10px;
    pointer-events: none;
}

.text-tooltip-left:hover .text-tooltip-text-left {
    visibility: visible;
}
/* For right */
.text-tooltip-right {
    position: relative;
}

.text-tooltip-right .text-tooltip-text-right {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    top: -5px;
    left: 100%; 
    display: inline;
    margin-left: 10px;

}

.text-tooltip-right:hover .text-tooltip-text-right {
    visibility: visible;
}



@keyframes example {
    0%   {left:0px; top:0px; transform: rotate(0deg);}
    25%  {left: 80%; top:0px; transform: rotate(90deg);}
    50%  {left:80%; top:80%; transform: rotate(180deg);}
    75%  {left:0px; top:80%; transform: rotate(270deg);}
    100% {left:0px; top:0px; transform: rotate(360deg);}
  }
  
  .move {
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: 3s;
  }
  
  .move:hover{
    animation-play-state: paused;
  }


@keyframes example {
  0%   {left:0px; top:0px; transform: rotate(0deg);}
  25%  {left: 80%; top:0px; transform: rotate(90deg);}
  50%  {left:80%; top:0%; transform: rotate(180deg);}
  75%  {left:0px; top:0%; transform: rotate(270deg);}
  100% {left:0px; top:0px; transform: rotate(360deg);}
}

.move-right-left {
  position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

.move-right-left:hover{
  animation-play-state: paused;
}
